/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.button {
  width: 225px !important;
  height: 50px !important;
  border-radius: 0;
  font-family: $font__accent !important;
  font-size: 20px !important;
  line-height: 25px !important;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 2px !important;
  font-weight: $font__weight-semibold !important;
}
.button.is-primary {
  background-color: $color__primary;

  &:hover {
    background-color: $color__info;
    color: #ffffff;
  }
}

.button.is-light {
  background: $color__light;
  color: $color__primary;
}

.button.is-success,
.button.is-success:active,
.button.is-success:focus {
  background: $color__light-bis !important;
  color: $color__primary !important;
  border-color: transparent !important;
}

.button.is-success:hover {
  background: $color__info !important;
  color: $color__light !important;
}

// Menu Buttons -----------------------------
.desktop-menu-btn {
  a,
  a:visited {
    background: $color__success-dark;
    color: $color__light !important;
    width: 130px;
    height: 33px;
    @include col-cen();
    border-radius: 3px;
    box-shadow: $box-shadow--btn;
  }

  a:hover {
    background: $color__success;
  }
}
