/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  a:hover {
    color: $color__success-invert !important;
  }
  svg:hover {
    color: $color__success-invert !important;
  }
  p.footer-title.is-capitalized {
    width: 86%;
    margin: 0 auto;
    @include bp(tablet) {
      width: 100%;
    }
  }
  .column.copyright {
    white-space: normal;
    width: 92%;
    margin: 0 auto;
  }
}
