/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding {
  display: none;
}

.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color__light;
  z-index: 999;
  box-shadow: $box-shadow--1;
}

.main-navigation-container {
  @include flex(row, space-between, center);
  max-width: unset;

  @include bp($mobile__bp) {
    max-width: 1152px;
  }

  @include bp(bulma-fullhd) {
    max-width: 1344px;
  }
}

.main-logo-wrapper {
  vertical-align: middle;
  @include flex(row, unset, flex-start);
  width: 300px;

  @include bp($mobile__menu-bp) {
    vertical-align: unset;
  }

  &:hover {
    opacity: $dim;
  }

  img {
    object-fit: contain;
    vertical-align: middle;
    @include bp(tablet) {
      height: 50px;
    }
  }
}

.error-404 {
  .main-logo-wrapper {
    justify-content: center;
  }
}

.mobile-menu-wrapper {
  z-index: 999;
  @include flex(row, space-between, center);
  width: 100%;
  height: $mobile__menu-height;

  .logo-alt-wrapper {
    height: 34px;
    display: flex;
  }
}

.popout-menu-wrapper {
  @include bp($mobile__menu-bp) {
    display: none;
  }
}

.menu-bars {
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0;

  .menu-bar {
    width: 28px;
    height: 2px;
    background-color: $color__primary;
    margin: 8px 0;
    transition: $transition;
  }
}

.change {
  // rotate first bar
  .menu-bar:first-child {
    transform: rotate(-45deg) translate(-6px, 8px);
  }

  // fade out the second bar
  .menu-bar:nth-child(2) {
    opacity: 0;
  }

  // rotate third bar
  .menu-bar:last-child {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}

#close-popout {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: right;

  svg {
    width: 30px;
    height: 30px;
  }
}

// Responsive Menu ---------------
@media screen and (min-width: 1024px) {
  #menu-bars {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #popout {
    position: fixed;
    width: 100%;
    height: 0;
    overflow: auto;
    overflow-y: hidden;
    top: $mobile__menu-height;
    left: 0;
  }
}

#popout.show {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  height: 100%;
}

.dimmed {
  background: $color__overlay;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

// Popout Menu -----------
.main-navigation {
  div#popout {
    ul#mobile-menu {
      .menu-item-has-children::after {
        content: '>';
        color: $color__dark;
        position: absolute;
        right: 33%;
        top: 10px;
        transition: all 0.25s ease-in;
      }
      .menu-item-has-children.clicked {
        > a {
          color: $color__info;
        }
        &:after {
          transform: rotate(90deg);
          color: $color__info;
        }
      }

      ul.sub-menu.open {
        padding-top: 0;
        display: block;
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        transition: ease-in 0.2s;
        max-height: 205px;
      }
    }
  }
}

.popout-menu {
  width: 100%;
  height: 100%;
  background: $color__light;
  @include flex(column, unset, center);
  color: $color__primary;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: $box-shadow--1;

  ul {
    @include flex(column, unset, unset);
    width: 90vw;

    li {
      width: 100%;
      padding: $space-unit--s 0;
      border-bottom: 1px solid $color__info;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

// Mobile Menu Arrow Down Icon
.mobile-menu-btn {
  border: none;
  background: transparent;
  box-shadow: unset;
  color: $color__light;
  text-shadow: unset;
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;

  &:hover {
    border: none;
    box-shadow: unset;
  }

  @include bp($mobile__menu-bp) {
    display: none;
  }
}

// Desktop ------------------------
.desktop-menu-wrapper {
  display: none;

  @include bp($mobile__menu-bp) {
    @include flex(column, center, flex-end);
    width: 100%;
    height: $desktop__menu-height;
  }

  .social-menu-wrapper {
    @include flex(row, space-between, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $banner__menu-height;

    ul {
      display: block;
    }
  }

  .social-menu-wrapper > div {
    @include flex(row, space-between, center);
    position: relative;
    max-width: unset;

    @include bp($mobile__bp) {
      max-width: 1152px;
    }
  }

  .contact-menu {
    svg {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }
  }

  .secondary-menu {
    @include flex(row, center, center);
  }

  .menu-main-menu-container {
    li:last-child {
      padding-right: 0;
    }
  }

  .menu-main-menu-container > ul {
    display: block;
  }

  li {
    text-transform: lowercase;
    padding: 0 $space-unit--s;
    position: relative;

    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
}

// Desktop Social Menu
#menu-social-menu {
  padding: 0;

  li {
    border: none;
    padding: $space-unit--xxs 0;

    @include bp($mobile__menu-bp) {
      padding: 0;
      margin-left: 2rem;
    }
  }
}

// Desktop Menu
#primary-menu {
  // padding-top: $banner__menu-height;
  @include row-cen();

  li {
    position: relative;

    &:hover:after {
      position: absolute;
      content: '';
      height: 2px;
      bottom: -6px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 13px;
      background: $color__info;
    }
  }
}

// Menu item with children ----------------
li.menu-item-has-children {
  position: relative;
  @include flex(column, center, center);
  flex-wrap: wrap;
  &:hover {
    color: $color__info;

    a {
      color: $color__info;
    }

    .arrow-down {
      fill: $color__info;
    }
  }

  a {
    order: 1;

    @include bp($mobile__menu-bp) {
      order: unset;
      width: unset;
    }
  }

  .sub-menu {
    order: 3;
    width: 100%;

    @include bp($mobile__menu-bp) {
      order: unset;
      width: 125px;
      background: $color__light;
      box-shadow: $box-shadow--2;
      padding: $space-unit--xxs;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: $base__space-unit;
      z-index: 99999;
    }

    li {
      border: none !important;
      padding: 2rem 0 0 0;

      @include bp($mobile__menu-bp) {
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: $space-unit--xxs 0;
      }

      a {
        @include bp($mobile__menu-bp) {
          color: $color__dark;
          margin-left: 0;

          &:hover {
            color: $color__info;
          }

          &:visited {
            color: $color__dark;
          }
        }
      }
    }
  }

  .mobile-menu-btn {
    order: 2;
  }
}
