/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

//Mobile menu

li#menu-item-580 a {
  font-family: $font__pre !important;
  font-size: 16px !important;
  line-height: 19px !important;
  font-weight: $font__weight-semibold !important;
}

// li#menu-item-580 a::after {
//   content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20id%3D%22Icon%5fmaterial-local-grocery-store%22%20data-name%3D%22Icon%20material-local-grocery-store%22%20d%3D%22M6.9%2C17.4a1.8%2C1.8%2C0%2C1%2C0%2C1.8%2C1.8A1.8%2C1.8%2C0%2C0%2C0%2C6.9%2C17.4ZM1.5%2C3V4.8H3.3l3.24%2C6.831-1.215%2C2.2A1.74%2C1.74%2C0%2C0%2C0%2C5.1%2C14.7a1.805%2C1.805%2C0%2C0%2C0%2C1.8%2C1.8H17.7V14.7H7.278a.223.223%2C0%2C0%2C1-.225-.225l.027-.108L7.89%2C12.9h6.7a1.791%2C1.791%2C0%2C0%2C0%2C1.575-.927l3.222-5.841A.879.879%2C0%2C0%2C0%2C19.5%2C5.7a.9.9%2C0%2C0%2C0-.9-.9H5.289L4.443%2C3ZM15.9%2C17.4a1.8%2C1.8%2C0%2C1%2C0%2C1.8%2C1.8A1.8%2C1.8%2C0%2C0%2C0%2C15.9%2C17.4Z%22%20transform%3D%22translate%28-1.5%20-3%29%22%20fill%3D%22%232c3638%22%2F%3E%0A%3C%2Fsvg%3E');
//   display: inline-block;
//   width: 26px;
//   padding-left: 5px;
// }

// Backgrounds (use Bulma has-background-color) --------------------
.bg-light {
  background: $color__light;
  h2 {
    color: $color__primary;
  }
  h4,
  p {
    color: $color__dark;
  }
}

.bg-light-bis {
  background: $color__light-bis;
}

.bg-dark {
  background: $color__primary;
  h2 {
    color: $color__light-bis;
  }
  h4,
  p,
  .h4-style {
    color: $color__light;
  }
}

// Containers ------------------
.container-sm {
  margin: 0 auto;
  max-width: $container-width--sm;
}

.container-m {
  margin: 0 auto;
  max-width: $container-width--m;
}

.content-wrapper {
  padding: $base__space-unit;
}

.content-wrapper {
  @include bp(tablet) {
    padding: $space-unit--lg;
  }

  @include bp(desktop-1920) {
    padding: $space-unit--xxl;
  }
}

.fixed-header {
  margin-top: $mobile__menu-height;

  @include bp($mobile__menu-bp) {
    margin-top: $desktop__menu-height;
  }
}

// Helpers -----------------------
.mobile-wrapper {
  @include bp($mobile__menu-bp) {
    display: none;
  }
}

.desktop-wrapper {
  display: none;

  @include bp($mobile__menu-bp) {
    display: block;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: 0 auto;
}

ul.list-style-none {
  list-style: none !important;
  margin: 0 !important;
}

.anchor {
  display: block;
  position: relative;
  top: -$mobile__menu-height;
  visibility: hidden;

  @include bp($mobile__menu-bp) {
    top: -$desktop__menu-height;
  }
}

// FAQ Accordion -----------------------
.schema-faq-section {
  color: $color__primary-dark;
}

.schema-faq {
  background-color: $color__background-pre;
  &:hover {
    background: $color__success;
  }
}

.schema-faq-question {
  display: block;
  font-family: $font__pre;
  font-size: 18px;
  line-height: 22px;
  padding: 32px 3.75rem 32px 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include bp(desktop-1080) {
    padding: 22px 35px;
  }
}
p.schema-faq-answer {
  padding: 0 50px 55px;
}

.faq-closed {
  &::after {
    content: '+';
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    padding-right: 21px;
    right: 10%;
  }

  &:hover {
    background-color: $color__success;
    cursor: pointer;
  }
}

.faq-opened {
  &::after {
    content: '–';
    font-size: 32px;
    position: absolute;
    font-weight: normal;
    position: absolute;
    padding-right: 21px;
    right: 10%;
  }

  &:hover {
    cursor: pointer;
  }
}

.schema-faq-answer {
  @include bp(desktop-1080) {
    padding: 0 50px 50px;
  }
}

/* Source: https://a11y-101.com/development/skip-link */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
