/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

// Backgrounds (use Bulma has-background-color) --------------------
.bg-light {
  background: $color__light;
  h2 {
    color: $color__primary;
  }
  h4,
  p {
    color: $color__dark;
  }
}

.bg-light-bis {
  background: $color__light-bis;
}

.bg-dark {
  background: $color__primary;
  h2 {
    color: $color__light-bis;
  }
  h4,
  p {
    color: $color__light;
  }
}

// Containers ------------------
.container-sm {
  margin: 0 auto;
  max-width: $container-width--sm;
}

.container-m {
  margin: 0 auto;
  max-width: $container-width--m;
}

.content-wrapper {
  padding: $base__space-unit;
}

.content-wrapper {
  @include bp(tablet) {
    padding: $space-unit--lg;
  }

  @include bp(desktop-1920) {
    padding: $space-unit--xxl;
  }
}

.fixed-header {
  margin-top: $mobile__menu-height;

  @include bp($mobile__menu-bp) {
    margin-top: $desktop__menu-height;
  }
}

// Helpers -----------------------
.mobile-wrapper {
  @include bp($mobile__menu-bp) {
    display: none;
  }
}

.desktop-wrapper {
  display: none;

  @include bp($mobile__menu-bp) {
    display: block;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: 0 auto;
}

ul.list-style-none {
  list-style: none !important;
  margin: 0 !important;
}

.anchor {
  display: block;
  position: relative;
  top: -$mobile__menu-height;
  visibility: hidden;

  @include bp($mobile__menu-bp) {
    top: -$desktop__menu-height;
  }
}

// FAQ Accordion -----------------------
.schema-faq-section {
  background-color: $color__background-pre;
  color: $color__primary-dark;
  &:hover {
    background: $color__success;
  }
}

.schema-faq-question {
  display: block;
  font-family: $font__pre;
  font-size: 18px;
  line-height: 22px;
  padding: 32px 3.75rem 32px 36px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include bp(desktop-1080) {
    padding: 22px 35px;
  }
}
p.schema-faq-answer {
  padding: 0 50px 55px;
}

.faq-closed {
  &::after {
    content: '+';
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    padding-right: 21px;
    right: 10%;
  }

  &:hover {
    background-color: $color__success;
    cursor: pointer;
  }
}

.faq-opened {
  &::after {
    content: '–';
    font-size: 32px;
    position: absolute;
    font-weight: normal;
    position: absolute;
    padding-right: 21px;
    right: 10%;
  }

  &:hover {
    cursor: pointer;
  }
}

.schema-faq-answer {
  @include bp(desktop-1080) {
    padding: 0 50px 50px;
  }
}

/* Source: https://a11y-101.com/development/skip-link */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
