.symmetric {
  @include bp(tablet) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  p.symmetric-p {
    text-align: left;
    margin: 0 auto;
    width: 85%;
    @include bp(tablet) {
      width: 100%;
      margin: 0;
    }
    @include bp(desktop-1024) {
      width: 90%;
    }
  }

  .button {
    @include bp(tablet) {
      margin: 1rem 0 0 0;
    }
  }
  .columns.is-vcentered {
    flex-direction: column;
    .order-one {
      order: 2;
    }
    .order-two {
      order: 1;
    }
    @include bp(tablet) {
      flex-direction: row;
      .order-one {
        order: 1;
      }
      .order-two {
        order: 2;
      }
    }
    .desc-container {
      margin: 0 auto;
      max-width: 360px;
      height: 435px;

      @include bp(tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 35vw;
        max-width: 100%;
      }

      @include bp(desktop-1080) {
        height: 25vw;
      }
    }

    h1 {
      color: $color__dark;
    }
    img {
      max-height: 350px;
      object-fit: cover;

      @include bp(tablet) {
        max-height: 31vw;
        width: 31vw;
      }
      @include bp(desktop-1080) {
        max-height: 24vw;
        width: 24vw;
      }
    }
  }

  .right-oval {
    h2 {
      margin-top: 1em;
      @include bp(desktop-1080) {
        margin-top: 0;
      }
    }
    .column.is-5-tablet.is-4-desktop.order-two img {
      @include bp(tablet) {
        margin-left: 0.5em;
      }
      @include bp(desktop-1080) {
        margin-left: 2.7vw;
      }
    }
    .column.p-0.is-vcentered.is-7-tablet.is-8-desktop.order-one {
      width: 86%;
      @include bp(tablet) {
        width: 56%;
      }
    }
    .symmetric-higher {
      border-radius: 50% 52% 0px 0px;
      width: 100%;
      position: relative;

      @include bp(tablet) {
        border-radius: 0px 225px 225px 0px;
      }
      .column.is-12-tablet.is-8-desktop.order-two {
        padding: 65px 0 32px;
        @include bp(tablet) {
          padding: 2rem 0;
        }
      }
      .symmetric-illustration {
        position: absolute;
        z-index: 9 !important;
        top: -19%;
        left: -16%;
        @include bp(tablet) {
          top: 67%;
          left: 74%;
        }

        .symmetric-illust {
          width: 170px;
        }
      }
    }
  }

  .left-oval {
    .symmetric-higher {
      position: relative;
      border-radius: 0 0 50% 52%;
      @include bp(tablet) {
        border-radius: 225px 0 0 225px;
      }
      .order-one {
        @include bp(tablet) {
          margin-left: 2em;
        }
      }
      .order-two {
        margin: 0 !important;
        padding: 0 !important;
      }
      .symmetric-illustration {
        position: absolute;
        z-index: 9 !important;
        bottom: -20%;
        right: -20%;
        @include bp(tablet) {
          top: 63%;
          left: 48%;
        }

        .symmetric-illust {
          width: 170px;
        }
      }
    }
  }
}

.page-template-page-about section.symmetric.wrapper.px-4.my-6 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
