/*--------------------------------------------------------------
# Instructors
--------------------------------------------------------------*/
.instructors {
  @include bp($mobile__bp) {
    max-width: 900px;
    margin: 0 auto;
  }

  .tm-decoration {
    width: 37px;
  }
  .profile {
    width: 150px;
  }
  .image {
    img {
      margin: 0 auto;
    }
  }
  ul.specialties {
    padding: 0;
  }
}
