.services.background-pre {
  background-color: $color__background-pre;

  .service-wrapper {
    @include bp($mobile__bp) {
      max-width: 1152px;
      margin: 0 auto;
    }
  }

  #services-icon {
    height: 25vw;
    width: auto;
    @include bp(tablet) {
      height: 10vw;
    }
    @include bp(desktop-1080) {
      height: 7vw;
    }
  }
  .services-info {
    padding: 0 3rem;
    margin: 0;
  }
}
